// Variables
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$font-family-sans-serif: "Montserrat", -apple-system, system-ui,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$enable-responsive-font-sizes: true;
$primary: #00a9dd;
$secondary: #aaa;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$sp-1: map-get($spacers, 1);
$sp-2: map-get($spacers, 2);
$sp-3: map-get($spacers, 3);
$sp-4: map-get($spacers, 4);
$sp-5: map-get($spacers, 5);

$f-md: $font-size-base;
$f-sm: $font-size-sm;
$f-lg: $font-size-lg;
$f-h1: $h1-font-size;
$f-h2: $h2-font-size;
$f-h3: $h3-font-size;
$f-h4: $h4-font-size;
$f-h5: $h5-font-size;
$f-h6: $h6-font-size;

html,
body,
#root {
  height: 100vh;
}

.App {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.HomeView {
  overflow: auto;
  .animate-fade {
    animation: fadeIn 3s linear;
  }
  .animate-down {
    animation: fadeInDown 2s linear;
  }
  .section-1 {
    position: relative;
    // padding-top: $sp-3 * 2;
    height: 100%;
    text-align: center;
    img {
      width: 60vh;
    }
    .subtitle {
      font-size: $f-h2;
    }
    .back {
      position: absolute;
      top: -10px;
      bottom: -50%;
      left: 0px;
      right: 0px;
      background-color: $gray-100;
      // background-image: url("../assets/background.png");
      // background-size: cover;
      // background-position-y: center;
      // filter: blur(10px) contrast(50%) brightness(150%);
      z-index: -3;
    }
    // background-color: white;
    backdrop-filter: blur(10px);
  }

  .section-2 {
    z-index: 1;
    margin-top: $sp-3 * 5;
    margin-bottom: $sp-3 * 2;
    padding: $sp-3 * 5 $sp-3;
    position: relative;
    .content {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: $sp-3;

      color: white;
    }
    .back-top {
      position: absolute;
      top: -$sp-3 * 5;
      bottom: 50%;
      left: 0;
      right: 0;
      z-index: -2;
      // background-color: $white;
    }
    .back-bot {
      position: absolute;
      top: 50%;
      bottom: -$sp-3 * 2;
      left: 0;
      right: 0;
      z-index: -2;
      // background-color: $gray-200;
    }
    .skew {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background-color: $primary;
      transform: skewY(-2deg);
    }
    img {
      width: 30vw;
    }
    p {
      font-size: 2.5vw;
    }
  }
  .section-3 {
    padding-top: $sp-3 * 2;
    padding-bottom: $sp-3 * 6;
    text-align: center;
    h1 {
      margin-bottom: $sp-4;
    }
    .column {
      img {
        max-width: 50%;
        padding-bottom: $sp-2;
      }
      p {
        font-size: $f-h4;
      }
    }
  }
  .section-4 {
    background-color: $gray-200;
    text-align: center;
    padding: $sp-3 * 2;
    h1 {
      margin-bottom: $sp-4;
    }
    .madewith {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      img {
        max-width: 100%;
      }
    }
  }
}

.SignUpView {
  background-color: $light;
  .form {
    padding: $sp-3 0;
  }
  .map-wrapper {
    margin-top: $sp-3;
    position: relative;
    width: 100%;
    height: $sp-3 * 20;
  }
}

.LoginView {
  background-color: $light;
  .form {
    padding: $sp-3 0;
  }
}

.HeatMapView {
  position: relative;
  .controls {
    position: absolute;
    left: $sp-3;
    bottom: $sp-3 * 2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .stats {
    width: $sp-3 * 15;
    background-color: #ffffff;
    padding: $sp-3;

    display: flex;
    flex-direction: column;
    .head {
      text-align: right;
    }
    .lg {
      font-size: $f-h3;
    }
    a {
      font-size: $f-sm;
    }
  }
  .stats.safe {
    color: white;
    background-color: $success;
    a {
      color: white;
    }
  }
  .stats.moderate {
    background-color: $warning;
    a {
      color: $dark;
    }
  }
  .stats.dangerous {
    color: white;
    background-color: $danger;
    a {
      color: white;
    }
  }
  .stats.highlydangerous {
    color: white;
    background-color: $danger;
    a {
      color: white;
    }
  }
  .search {
    width: $sp-3 * 20;
    input {
      width: 100%;
    }
    span {
      background-color: $white;
      padding: $sp-1;
      margin-bottom: $sp-1
    }
  }
}

.DashboardView {
  background: $light;
  height: 100%;
  .container,
  .row,
  .col {
    height: 100%;
  }
  padding: $sp-3;
}

.DashboardLeft {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;

  .patients {
    position: relative;
    h2 {
      position: sticky;
      top: 0;
      background-color: $light;
    }

    .wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto;
    }
  }
  .bottom {
    padding: $sp-2 0;
  }
}
.PatientItem {
  padding: $sp-2;
  font-size: $f-lg;
}
.DashboardRight {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  .top {
    padding: $sp-2 0;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: $sp-2;
  }
  .wrapper {
    position: relative;
  }
  .bottom {
    padding: $sp-2 0;
  }
}
